<div style="height: 5%;"></div>

<tk-card-list>
    <div style="display: flex; justify-content: space-between" mat-subheader>
            Tarefas
            <tk-modal-add-task></tk-modal-add-task>
        </div>
        <div *ngFor="let tarefa of tarefas" class="">
            <tk-tarefas-pendente [nome]="tarefa.nome" [concluido]="tarefa.concluido" [tempo]=tarefa.tempo>
                <tk-btn-delete (click)="deleteTask(tarefa.id)"></tk-btn-delete>
            </tk-tarefas-pendente>
        </div>
        
        <mat-divider></mat-divider>

        <div mat-subheader>Tarefas Concluidas</div>
        <div *ngFor="let tarefa of tarefas" class="">
            <tk-tarefas-concluido [nome]="tarefa.nome" [concluido]="tarefa.concluido"></tk-tarefas-concluido>
        </div>
</tk-card-list>
        
        